body{
	display:flex;
	align-items:center;
	justify-content:center;
	height:100vh;
}
.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background-color: black;
	height: 240px;
	width: 80px;
	border-radius: 40pc;
}

.container .content{
	height: 50px;
	width: 50px;
	border-radius: 25px;
}

.red{
	background-color:red;
}

.green{
	background-color:green;
}

.yellow{
	background-color:yellow;
}
.off{
	background-color: white;
}